/********   ********/


/****   FICHIER SCSS POUR LES CLASSES TO EXTEND  ****/


/********   ********/


/*EX:

.regular_text {
  @include regular-text;
  font-family: $light;
  font-size: $small-font-size;
  letter-spacing: 0;
}

*/