/********   ********/

/****   FICHIER SCSS POUR LES CLASSES GÉNÉRIQUES DU SITE  ****/

/********   ********/

:root {
  overflow-y: initial !important;
}
html {
  scroll-behavior: smooth;
}

body {
  background-color: $darkColor;
}
h1 {
  font-size: $large-font-size;
}
h2 {
  font-size: $medium-font-size;
}
h1,
h2,
h3 {
  color: $accentColor;
  font-family: $fontTitle;
}

a {
  text-decoration: none;
  position: relative;
  transition: all 0.7s cubic-bezier(0.075, 0.82, 0.165, 1);
  &:visited {
    color: $accentColor;
  }
  &:hover {
    opacity: 0.7;
    text-decoration: none;
    transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  }
}
a,
span,
p,
address {
  color: $lightColor;
  font-family: $fontRegular;
  font-weight: 500;
  font-style: normal;
  font-size: $small-font-size;
}
small {
  color: $accentColor;
  font-family: $fontRegular;
  font-weight: 500;
  font-style: normal;
  font-size: 1vh;
}
.external_link {
  font-family: $fontRegular;
  font-weight: 400;
  font-style: normal;
  color: $accentColor;
}

.bg_image {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $darkColor;
    opacity: 0.7;
  }
  > * {
    z-index: 2;
  }
}

@media only screen and (max-width: 1024px) and (orientation: portrait) {
  .offset-lg-1,
  .offset-lg-2 {
    margin-left: 0;
  }
  .col-lg-9 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
  .col-lg-11,
  .col-lg-12 {
    padding-left: 0;
    padding-right: 0;
  }
  .hidden-md-down {
    display: none !important;
  }
  .hidden-lg-up {
    display: block !important;
  }
}
