/********   ********/

/****   FICHIER SCSS POUR LES MIXIN ****/

/********   ********/

/*EX:
@mixin big_title{
  @media only screen and (min-width: 1920px){
    font-size: 1.8vw;
  }
  @media only screen and (max-width: 991px){
    font-size: 20px;

  }
  font-size: $large-font-size;
}
*/

@mixin link {
  font-family: $fontTitle;
  color: $accentColor;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 1px;
    background-color: $accentColor;
    transition: width 0.3s ease-in-out;
  }

  &:hover {
    text-decoration: none;
  }

  &:hover::before {
    width: 100%;
  }
}
