/********   ********/

/****   FICHIER SCSS POUR LES TYPO  ****/

/********   ********/

/*EX:
@font-face {
  font-family: 'exo-bold';
  src: url('../fonts/Exo2-Bold.eot') format('embedded-opentype'),
  url('../fonts/Exo2-Bold.ttf') format('trutype'),
  url('../fonts/Exo2-Bold.woff') format('woff'),
  url('../fonts/Exo2-Bold.woff2') format('woff2'),
  url('../fonts/Exo2-Bold.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'exo-light';
  src: url('../fonts/Exo2-ExtraLight.eot') format('embedded-opentype'),
  url('../fonts/Exo2-Light.ttf') format('trutype'),
  url('../fonts/Exo2-Light.woff') format('woff'),
  url('../fonts/Exo2-Light.woff2') format('woff2'),
  url('../fonts/Exo2-Light.otf');
  font-weight: normal;
  font-style: normal;
}

$bold: 'exo-bold';
$light: 'exo-light';
*/
